<!DOCTYPE html>
<html lang="en">

<head>
    {% block stylesheet %}
    <!--style goes here :)-->
    {% endblock %}
    <style>
        body {
            font-family: Garamond, sans-serif;
        }
    </style>
    <meta charset="utf-8">
    <meta name="author" content="Mahta Fetrat">
    <meta name="keywords" content="book, review, tweet, flashcard">
    <!--I know perhaps the silliest keywords to contain ;)-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookord</title>
</head>

<body>
    {% block body %}
    <!--body goes here :)-->
    {% endblock %}
</body>

</html>