{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'user/style/cloud.css' %}">
<!--how you use an external safe font-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<!--how you include google icons in html-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!--how you add js to your pages-->
<script src="{% static 'user/javascript/cloud.js' %}"></script>

<div class="zero" id="zero" style="z-index: 1001;">
    <div id="cloud"><i class="material-icons" style="font-size: 50pt;">cloud</i><br> ON THE CLOUDS WITH READING AND
        RECORDING<br><span style="align-self: flex-end; font-size: 60pt; color: rgb(164, 23, 65);">BOOKS</span><i
            class="material-icons" style="font-size: 180pt;">cloud</i><i class="material-icons"
            style="font-size: 60pt; align-self: flex-end;">cloud</i><span id="line"></span></div>
</div>